[submodule "packages/foundry/lib/forge-std"]
	path = packages/foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "packages/foundry/lib/openzeppelin-contracts"]
	path = packages/foundry/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "packages/foundry/lib/solidity-bytes-utils"]
	path = packages/foundry/lib/solidity-bytes-utils
	url = https://github.com/gnsps/solidity-bytes-utils
[submodule "lib/avalanche-interchain-token-transfer"]
	path = lib/avalanche-interchain-token-transfer
	url = https://github.com/ava-labs/avalanche-interchain-token-transfer
[submodule "lib/teleporter"]
	path = lib/teleporter
	url = https://github.com/ava-labs/teleporter
[submodule "packages/foundry/lib/teleporter"]
	path = packages/foundry/lib/teleporter
	url = https://github.com/ava-labs/teleporter
